<%
	@cards = [
		{
			Title: "Explore",
			Subtitle: "Browse the Collection",
			Description: "Photographs, Letters, Scrapbooks, &c.",
			Image: "/uploads/spotlight/resources/upload/url/2459/small_1999-033.1.7.2_Map1_1.jpg",
			Link: "/spotlight/wwi/feature/discover"
		},
		{
			Title: "Stories",
			Subtitle: "Personal Histories",
			Description: "Read the stories of Canada's citizens.",
			Image: "/uploads/spotlight/resources/upload/url/3749/small_2000-030_ScrpBk_017_a.jpg",
			Link: "/spotlight/wwi/feature/stories"
		},
		{
			Title: "Learn",
			Subtitle: "Students & Teachers",
			Description: "Use this exhibit in the class room.",
			Image: "/uploads/spotlight/wwi/learn_FrontPage.jpg",
			Link: "/spotlight/wwi/feature/learn"
		}
	]
%>

	<div class="col-sm-12 col-md-9">
		<%# See Bootstrap 4 docs on carousel: https://getbootstrap.com/docs/4.0/components/carousel/ %>
		<div id="wwi-carousel" class="carousel slide mb-3" data-ride="carousel" data-interval="3000">
			<div class="carousel-inner">
				<% id_arr = [1717,4063,2824,3616] %>
				<% id_arr.each do |id|
					fi = Spotlight::FeaturedImage.find(id)
					source ="/" + fi.image.store_path + fi.image.file.filename
				%>
					<div class="carousel-item wwi-slide <%= "active" if id == id_arr.first %>">
						<img src="<%= source %>" >
					</div>
				<% end %>
			</div>
			<a class="carousel-control-prev" href="#wwi-carousel" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#wwi-carousel" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
			<a href="/spotlight/wwi/feature/welcome" class="front-card-link">
				<h2 class="front-card-title">Enter Main Exhibit</h2>
			</a>
		</div>
	</div>

	<div class="col-sm-12 col-md-3">
		<%	@cards.each do |card| %>
			<%# Classes and styling based on app/views/spotlight/exhibits/_exhibit_card %>
			<div class="card exhibit-card wwi-card mb-3">
				<%= link_to card[:Link], id: ("card-" + card[:Title]), aria: { hidden: true  }, tabindex: '-1' do %>
						<%= image_tag(card[:Image], class: 'card-img',  alt: '', role: 'presentation', skip_pipeline: true) %>
					<div class="card-img-overlay wwi-card-overlay pb-0">
						<%= content_tag :h2, class: 'card-title h5 text-center', aria: { describedby: "exhibit-description-#{card[:Description]}" } do %>
							<%= link_to card[:Link], class: 'stretched-link' do %>
								<span><%= card[:Title] %></span>
							<% end %>
						<% end %>
						<%= content_tag :div, id: "exhibit-description-#{card[:Description]}", class: 'card-text exhibit-description' do %>
								<p class="subtitle">
									<%= card[:Subtitle] %>
								</p>

								<p class="description">
									<%= card[:Description] %>
								</p>
						<% end %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>